<!doctype html>
<html>
  <head>
    <title>Active Chat</title>
    <script type="text/javascript">
    	window.onload = function() {
  			$.getJSON('/getcurruser', function(data) {
  				console.log("current user is " + data);
  				$('#user').append(data);
  			});
  			$.get('/getcurrroom', function(data) {
  				$.getJSON('/getgroupname:' + data, function(info) {
  					console.log("current group is " + info.groupName);
  					var chatName = info.groupName;
  					$('#groupName').append("<b>"+chatName+"</b>");
  				});
  			});
  			$.getJSON('/downloadchats', function(data) {
  				if(data != null) {
  					for (var i = 0; i < data.length; i++) {
  						var content = data[i].message;
  						$('#messages').append($('<li>').text(content));
  					}
  				}
  				$('#messages').scrollTop($('#messages')[0].scrollHeight);
  				$("#messages").height($(window).height() - 150);
  			});
  		}
  		
  		function inviteUsers() {
  			$.post('/sendinvites', {groupID: $('#room').text()}, function(data) {
  				alert(data);
  			});
  		}
  	</script>
    <style>
    	<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		
		<style type="text/css">
			* {
			 box-sizing: border-box;
			}
			body {
				font-family: Arial;
				padding: 10px;
				background: #f1f1f1;	//8am change color						
			}
			.header {
				float: left;
				text-align: center;
				padding: 2px 2px;
				margin-bottom: 10px;
				//background: white;
			}
			.header h1 {
				  font-size: 35px;
				  color: white;	
				}
			.topnav {
			  overflow: hidden;
			  background-color: #00008B;
			}
			
			/* Style the topnav links */
			.topnav a {
			  float: right;
			  display: block;
			  color: white;
			  font-size: 15px;
			  text-align: center;
			  padding: 30px 10px;
			  text-decoration: none;
			}
			
			/* Change color on hover */
			.topnav a:hover {
			  background-color: #ddd;
			  color: black;
			}
			.chatTitle {
				text-align: center;
				float: left;
				width: 90%;
				margin: 0 5%;
				overflow: hidden; 
				overflow-x: auto;
				white-space: nowrap;
				line-height: 20px;
				font-size: 16px;
				padding-bottom: 10px;
				color: Black
			}
			.chatFunc {
				text-align: center;
				float: left;
				width: 100%;
				line-height: 20px;
				padding: 0px 20px 20px 20px;
			}
			.chatInvite{
				text-align: center;
				display: inline-block;
			}
			.searchbar, .postContent {
				float: left;
				width: 100%;
				line-height: 20px;
				padding: 0px 20px 20px 20px;
			}
			.addUser {
				font-size: 12px;
				padding: 5px 2px;
				color: Black;
			}
			.addUser input {
				width: auto;
				margin: 0 10px;
			}
			
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: #00008B; border: none; padding: 10px; color: white}
      #messages { list-style-type: none; padding: 0; margin: auto 0; overflow: hidden; overflow-y: scroll; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
      
    </style>
  </head>
  <body>
    <div class="topnav">
		<div class="header">
			<h1> *̣̥☆‧❄‧̩̥·‧☃‧̩̥·<b><i>PennBook</i></b>‧•̥‧·‧̩̥❄‧·☆*̣̥  </h1>  
		</div>
			<div id="notifications">
		    	<span id="notifications-count"></span>
		  		<div id="notifications-dropdown"></div>
		  	</div>
		  	 <a href="/logout" onclick="postActiveStatusFalse()">Logout</a>
		    <a href="/friendvisualization">Friend Graph</a>
		    <a href="/chat">Chat</a>
		    <a href="/profile">My Profile</a>
		    <a class="active" href="/home">Home</a>
		</div>
	    <a href="/chat">Chat</a>
	</div>
	
	<div id="groupName" class="chatTitle"></div>
	<div id="chatFuncs" class="chatFunc">
		<button id="invite" class="chatInvite" onClick="inviteUsers()">Invite Users to Chat</button>
		<form id="addUser" class="addUser">Hello</form>
	</div>
	
	<div class="searchbar">
		<div id="user" style="display: none;"></div> 
		<div id="room" style="display: none;"></div>     
		<ul id="messages"></ul>
	</div>
	
    <form action="">
      <input id="message" autocomplete="off" /><button>Send</button>
    </form>
    
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
        $(function () {
        	$.get('/getcurrroom', function(data) { 
  				console.log("current room is " + data);
  				$('#room').append(data);
  				
  				var socket = io('http://localhost:3000/' + $('#room').text());
    			console.log('http://localhost:3000/' + $('#room').text());
    			
    			$('form').submit(function(e){
    	    		e.preventDefault(); // Avoid reloading
    	    		if(!($('#message').val() === "")) {
    	    			socket.emit('chat message', $('#user').text() + ": " + $('#message').val());
    	    		}
      				$('#message').val('');
      				return false;
    			});
    			
    			socket.on('chat message', function(msg){
    				var chat = {
    					groupID: $('#room').text(),
    					user: $('#user').text(),
    					content: msg
    				};
    				$.post('/uploadchat', chat, function(data) {});
      				$('#messages').append($('<li>').text(msg));
      				$('#messages').scrollTop($('#messages')[0].scrollHeight);
    			});
  			});
  		});
    </script>
  </body>
</html>