<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Friendship Visualizer</title>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<!--[if IE]><script language="javascript" type="text/javascript" src="../../Extras/excanvas.js"></script><![endif]-->
	
	<!-- JIT Library + JS Files -->
	<script language="javascript" type="text/javascript" src="../js/jit.js"></script>
	<script language="javascript" type="text/javascript" src="../js/friendvisualizer.js"></script>
		
	<!-- CSS Files -->
	<link type="text/css" href="../css/base.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		
		<style type="text/css">
			* {
			 box-sizing: border-box;
			}
			body {
				font-family: Arial;
				padding: 10px;
				background: #f1f1f1;	//8am change color							<!-- add things -->
			}
			.header {
				float: left;
				text-align: center;
				padding: 2px 2px;
				margin-bottom: 10px;
				//background: white;
			}
			.header h1 {
				  font-size: 35px;
				  color: white;	
				}
			.title {
				text-align: center;
				float: left;
				width: 100%;
				font-size: 40x;
				color: #00008B
			}
			.topnav {
			  overflow: hidden;
			  background-color: #00008B;
			}
			
			/* Style the topnav links */
			.topnav a {
			  float: right;
			  display: block;
			  color: white;
			  font-size: 15px;
			  text-align: center;
			  padding: 30px 10px;
			  text-decoration: none;
			}
			
			/* Change color on hover */
			.topnav a:hover {
			  background-color: #ddd;
			  color: black;
			}
		</style>

</head>

<body>
	<div class="topnav">
		<div class="header">
			<h1> *̣̥☆‧❄‧̩̥·‧☃‧̩̥·<b><i>PennBook</i></b>‧•̥‧·‧̩̥❄‧·☆*̣̥  </h1>  
		</div>
			<div id="notifications">
		    	<span id="notifications-count"></span>
		  		<div id="notifications-dropdown"></div>
		  	</div>
		  	 <a href="/logout" onclick="postActiveStatusFalse()">Logout</a>
		    <a href="/friendvisualization">Friend Graph</a>
		    <a href="/chat">Chat</a>
		    <a href="/profile">My Profile</a>
		    <a class="active" href="/home">Home</a>
		</div>
	<br>
	<h1 style="color:#00008B;", background color: "white", float:"top", class="chatTitle"><b><i>Friends and Affiliates!</b></i></h1>
  	<br>	
	<div id="container">
		<div id="center-container">
		    <div id="infovis"></div>    
		</div>
	</div>
</body>

</html>